<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
	<item label="terminal">
		<action name="Execute">
			<command>alacritty</command>
		</action>
	</item>
	<menu id="internet" label="internet">
		<item label="firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
		<item label="transmission">
			<action name="Execute">
				<command>transmission-qt</command>
			</action>
		</item>
	</menu> <!-- Internet -->
	<menu id="devel" label="devel">
		<item label="rstudio">
			<action name="Execute">
				<command>rstudio</command>
			</action>
		</item>
		<item label="neovim">
			<action name="Execute">
				<command>nvim-qt</command>
			</action>
		</item>

	</menu> <!-- Development -->
	<menu id="office" label="office">
		<item label="writer">
			<action name="Execute">
				<command>libreoffice --writer</command>
			</action>
		</item>
		<item label="calc">
			<action name="Execute">
				<command>libreoffice --calc</command>
			</action>
		</item>
		<item label="impress">
			<action name="Execute">
				<command>libreoffice --impress</command>
			</action>
		</item>
		<item label="math">
			<action name="Execute">
				<command>libreoffice --math</command>
			</action>
		</item>

	</menu> <!-- Office -->
	<menu id="openbox" label="openbox">
		<item label="obconf" icon="obconf">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
		<item label="reconfigure">
			<action name="Reconfigure" />
		</item>
		<item label="exit">
			<action name="Exit" />
		</item>
	</menu> <!-- System -->
</menu> <!-- root-menu -->
</openbox_menu>
