BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
