* {
	font-family: Noto;
	font-size: 14px;
	padding: 0 5px;
}

window#waybar {
	background-color: rgba(30, 30, 45, 1.0);
	border-bottom: 1px solid rgba(30, 30, 45, 1.0);
	color: #999999;
	transition-property: background-color;
	transition-duration: .5s;
}

#taskbar button {
	padding: 0 2px;
	background-color: rgba(50, 50, 60, 1.0);
	color: #AAAAAA;
}

#workspaces button {
	padding: 0 2px;
	background-color: rgba(60, 60, 70, 1.0);
	color: #AAAAAA
}

