* {
	font-family: Roboto;
	font-size: 14px;
	padding: 0 5px;
}

window#waybar {
	background-color: rgba(56, 60, 74, 1.0);
	border-bottom: 1px solid rgba(56, 60, 74, 1.0);
	color: #AAAAAA;
}

#taskbar button {
	padding: 0 2px;
	background-color: rgba(75, 81, 98, 1.0);
	border-color: rgba(0, 0, 0, 0.1);
	color: #AAAAAA;
}

#taskbar button:hover {
	background: rgba(0, 0, 0, 0.1);
}

#taskbar button.active {
	background: rgba(124, 129, 140, 1.0);
	color: rgba(56, 60, 74, 1.0);
}

#taskbar button.minimized {
	background: rgba(75, 81, 98, 1.0);
	color: rgba(124, 129, 140, 1.0)
}

#workspaces button {
	padding: 0 2px;
	background-color: rgba(64, 69, 82, 1.0);
	color: #AAAAAA
}

